
*.gz
database/silva-138-99-tax.qza
database/silva-138-99-seqs.qza
database/silva-132-99-nb-classifier.qza
scripts/.Rhistory
database/silva-138-99-tax.qza
database/silva-138-99-seqs.qza
database/silva-132-99-nb-classifier.qza
.snakemake/log/2020-11-06T160112.527202.snakemake.log
.snakemake/log/2020-11-06T163601.309347.snakemake.log

raw_dir/manifest-orig.txt

*.log

manifest-trimmed.txt

.snakemake/conda/

.snakemake/locks/

.snakemake/

scratch/

*.qza
